@import "https://wow.planckstudio.in/assets/css/blaze.css";

html {
    overflow-x: hidden;
}

#cover {
    width: 100%;
    height: 200px;
    background: var(--primary);
}

card-register {
    margin-top: -32px!important;
}


.auth-p {
    text-align: center;
    margin: 0 !important;
}

.auth-btn {
    border-radius: 0 0 16px 16px;
}

.show {
    display: grid;
}

.hide {
    display: none;
}

.block {
    display: block;
}